.astory {
  &__selected {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__no-select {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    &:hover {
      background: #b0afaf;
    }
  }
  &__card-title {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 40px;
    color: 	black;
    user-select: none;
  }
  &__card-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.2;
    transition: all .2s;
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
  &__subcard {
    background: rgba($color: gray, $alpha: 0.5);
    width: 95%;
    border-radius: 15px;
    height: 48%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__subcard-title {
    font-size: 30px;
    font-weight: 700;
  }
}

.pop-add-story {
  &__title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
    border-bottom: 2px solid black;
  }
  &__files {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__files-case {
    margin-bottom: 10px;
    .file-upload {
      margin-top: 5px;
      width: 100%;
    }
    span {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 5px;
    }
  }
}

.pop-delete-story {
  &__title {

  }
}