.button {
  color: white;
  font-size: 16px;
  background: #00aaffd2;
  border-radius: 5px;
  padding: 12px 10px;
  transition: all .1s;
  &:hover {
    background: #00AAFF;
  }
}

.input-text {
  width: 100%;
  position: relative;
  margin-bottom: 5px;
  &__clear {
    position: absolute;
    top: 8px;
    right: 8px;
    background: transparent;
    font-size: 22px;
  }
  &__input {
    width: 100%;
    background-color: rgb(229, 229, 229);
    padding: 10px 25px 10px 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid transparent;
    margin-bottom: 5px;
  }
  &__input--error {
    input {
      border-color: rgb(255, 0, 0);
    }
    -webkit-animation: error-field 0.8s ease-out both;
    animation: error-field 0.8s ease-out both;
  }
  &__error-span {
    font-size: 14px;
    color: red;
  }
  &:focus {
    border: 2px solid #00AAFF
  }
}

.input-password {
  width: 100%;
  position: relative;
  &__show {
    position: absolute;
    top: 8px;
    right: 5px;
    background: transparent;
    font-size: 22px;
  }
  &__input {
    width: 100%;
    background-color: rgb(229, 229, 229);
    padding: 10px 35px 10px 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid transparent;
    margin-bottom: 5px;
  }
  &__error-span {
    font-size: 14px;
    color: red;
  }
  &__input--error {
    input {
      border-color: rgb(255, 0, 0);;
    }
    -webkit-animation: error-field 0.8s ease-out both;
    animation: error-field 0.8s ease-out both;
  }
}

.select {
  font-size: 16px;
  min-height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
}

.pop-up {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.3);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
    width: 30vw;
    min-height: 200px;
    background: white;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 5px;
  }
  &__close {
    color: black;
    font-size: 40px;
    position: absolute;
    top: -18px;
    right: -10px;
    cursor: pointer;
  }
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid black;
    border-radius: 50%;
    animation: loader-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
    :nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@-webkit-keyframes error-field {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes error-field {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
