.category-choose {
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  flex-grow: 1;
  align-items: center;
  &__title {
    color: gray;
    margin-bottom: 15px;
  }
  &__main {
    min-height: 320px;
    max-height: 320px;
    width: 320px;
    padding: 10px;
    border: 2px solid gray;
    font-size: 18px;
    overflow: auto;
  }
  &__main-point {
    margin-bottom: 5px;
    cursor: pointer;
    &--active {
      color: #00AAFF
    }
    &:hover {
      color: #00AAFF
    }
  }
  &__continue-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 10px;
    background: #00AAFF;
    &--three {
      margin-top: 20px;
      width: 30%
    }
    i {
      margin-left: 10px;
      transition: all .2s;
    }
    &:hover i {
      transform: translate(10px, 0px) scale(1.2);
    }
  }
}

.category-choosen {
  width: 100%;
  &__category-title {
    display: flex;
    .new-category-ads-title {
      margin-right: 20px;
    }
  }
}

.universal {
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 25px;
    font-weight: 700;
  }
  &__form {
    display: flex;
    flex-direction: column;
    label {
      font-size: 16px;
      color: #5C5C5C;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__file-upload {
    display: flex;
    align-items: center;
  }
  &__file-upload-img {
    width: 150px;
    height: 150px;
    background: green;
    margin: 10px;
  }
}

.new-category-ads {
  width: 100%;
  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0px;
  }
  &__item-left {
    display: flex;
    align-items: center;
    width: 20%;
  }
  &__item-right {
    width: 80%;
  }
  &__title {
    font-size: 25px;
    font-weight: 700;
  }
  &__subtitle {
    font-size: 25px;
    color: #00AAFF;
    font-weight: 500;
    cursor: pointer;
  }
  &__label {
    color: #5C5C5C;
  }
  &__input {
    background: white;
    border: 1px solid black;
    width: 200px;
    border-radius: 0px;
    margin-bottom: 10px;
    input {
      background: white;
    }
  }
  &__tip {
    position: relative;
    cursor: pointer;
    margin-left: 5px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: rgba(128, 128, 128, 0.396);
    border-radius: 50%;
  }
  &__text {
    margin-top: 15px;
    color: #5C5C5C;
  }
  &__item-left--damaged {
    display: flex;
  }
}