.car-condition-w-img {
  max-width: 500px;
  height: fit-content;
  &__control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__control-item {
    width: 110px;
    height: 110px;
    font-size: 16px;
    background: transparent;
    border: 1px solid transparent;
    transition: all .2s;
    &--active {
      border-radius: 15px;
      border: 1px solid black;
      font-weight: 700;
    }
    img {
      border-radius: 15px;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}


.car-condition-item {
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    position: relative;
    img {
      max-width: 300px;
    }
  }
  &__span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00AAFF;
    color: white;
    cursor: pointer;
    transition: all .2s;
  }
  &__span--active {
    transition: all .2s;
    transform: scale(1.2,1.2);
  }
  &__span--clicked {
    background: brown;
    transform: scale(1.1, 1.1);
    color: transparent;
  }
  &__span-f1 {
    top: -5px;
    left: 140px;
  }
  &__span-f2 {
    top: 20px;
    left: 140px;
  }
  &__span-f3 {
    top: 45px;
    left: 140px;
  }
  &__span-f4 {
    top: 80px;
    left: 140px;
  }
  &__span-f5 {
    top: 60px;
    left: 80px;
  }
  &__span-f6 {
    top: 60px;
    right: 80px;
  }
  &__span-f7 {
    top: 30px;
    left: 60px;
  }
  &__span-f8 {
    top: 30px;
    right: 60px;
  }
  &__span-l1 {
    top: 50px;
    left: 60px;
  }
  &__span-l2 {
    top: 70px;
    left: 180px;
  }
  &__span-l3 {
    top: 70px;
    left: 120px;
  }
  &__span-l4 {
    top: 50px;
    right: 25px;
  }
  &__span-b1 {
    top: 20px;
    left: 140px;
  }
  &__span-b2 {
    top: 50px;
    left: 140px;
  }
  &__span-b3 {
    top: 50px;
    left: 80px;
  }
  &__span-b4 {
    top: 50px;
    right: 80px;
  }
  &__span-b5 {
    top: 85px;
    left: 140px;
  }
  &__span-r1 {
    top: 50px;
    left: 25px;
  }
  &__span-r2 {
    top: 70px;
    right: 120px;
  }
  &__span-r3 {
    top: 70px;
    right: 180px;
  }
  &__span-r4 {
    top: 50px;
    right: 60px;
  }
}