.local-location {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.3);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  &__container {
      max-width: 1940px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      background: white;
      width: 60vw;
      position: relative;
      min-height: 510px;
  }
  &__center {
      flex-grow: 1;
  }
  &__close {
      font-size: 40px;
      position: absolute;
      top: -18px;
      right: -10px;
      cursor: pointer;
  }
  &__menu {
      display: flex;
      border-bottom: 2px solid gray;
      padding: 10px 10px;
  }
  &__menu-item {
      font-size: 24px;
      cursor: pointer;
      margin-right: 10px;
      &:hover {
          color: #00AAFF;
      }
  }
  &__menu-item--active {
      font-weight: 700;
      color: #0088ff;
  }
  &__hood {
      padding: 10px;
      min-height: 400px;
      max-height: 400px;
      overflow: auto;
  }
  &__hood-item {
      display: flex;
      align-items: center;
      margin: 0px 0px 8px 0px;
  }
  &__bottom {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      button {
          font-size: 16px;
          color: white;
          background: #00AAFF;
          padding: 10px;
          border-radius: 5px;
      }
  }
  &__radius {
      padding: 10px;
      min-height: 400px;
      max-height: 400px;
      overflow: hidden;
      display: flex;
      align-items: center;
  }
}

@media (max-width: 768px) {
    .local-location {
        &__container {
            width: 90vw;
        }
    }
}