.button {
  color: white;
  font-size: 16px;
  background: var(--color-lightblue);
  border-radius: 5px;
  padding: 12px 10px;
  transition: all .1s;
  &:hover {
    background: var(--color-darkblue);
  }
}