.auto-number {
  border: 1px solid black;
  min-height: 46px;
  width: 170px;
  display: flex;
  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69%;
    border-right: 1px solid black;
  }
  &__input-left {
    padding: 5px;
    width: 95%;
    height: 100%;
    font-size: 20px;
  }
  &__right {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__input-right {
    font-size: 20px;
    padding: 0px 10px;
    width: 100%;
    height: 60%;
  }
  &__region {
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40%;
    font-size: 10px;
    img {
      margin: 3px;
      object-fit: cover;
      width: 10px;
      height: 10px;
    }
  }
}

.text-area {
  border: 1px solid gray;
  resize: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.price {
  display: flex;
  align-items: center;
  &__input {
    min-height: 46px;
    border: 1px solid black;
    padding: 5px;
    position: relative;
    font-size: 20px;
    display: flex;
    border-radius: 5px;
  }
  &__currency {
    color: black;
    font-size: 20px;
  }
}

.file-upload {
  border-radius: 5px;
  width: 100px;
  height: 100px;
  border: 5px solid #00AAFF;
  cursor: pointer;
  transition: all .1s;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    color: #00AAFF;
    font-size: 30px;
  }
  &:hover {
    border: 10px solid #00AAFF;
  }
  &--hidden {
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
}

.file-uploaded {
  display: flex;
  &__file {
    width: 100px;
    height: 100px;
    margin: 5px;
    position: relative;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: black;
  }
  &__delete {
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: 8px;
    color: white;
    background: transparent;
    cursor: pointer;
  }
}

.color-choose {
  display: flex;
  justify-content: flex-start;
  &__color {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 5px;
  }
  &__color--active {
    &:before {
      display: flex;
      align-items: center;
      justify-content: center;
      content: "✔";
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: black;
      background: rgba($color: gray, $alpha: 0.5);
    }
  }
}

.video-link {
  &__input {
    min-height: 30px;
    font-size: 16px;
    min-width: 250px;
    padding: 5px;
    border: 1px solid black;
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__left {
    width: 90px;
    height: 70px;
    margin-right: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__right {
    
  }
  &__link {
    font-size: 16px;
    color: rgba(128, 128, 128, 0.695);
    text-decoration: underline;
    cursor: pointer;
  }
  &__delete {
    background: transparent;
    color: #00AAFF;
    font-size: 18px;
  }
}

.radio-button-choose {
  display: flex;
  &__label {
    background-color: #ffffff;
    border: 2px solid #cccccc;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background: #cccccc46;
    }
    &:first-child {
      border-radius: 10px 0px 0px 10px;
    }
    &:last-child {
      border-radius: 0px 10px 10px 0px;
    }
  }
  &__span {
    font-size: 16px;
  }
  &__input {
    opacity: 0;
    position: absolute;
  }
  &--active {
    background: #cccccc;
  }
}

.car-mileage {
  position: relative;
  width: fit-content;
  &__input {
    border: 1px solid black;
    padding: 5px 20px 5px 5px;
  }
  &__span {
    position: absolute;
    top: 7px;
    right: 5px;
  }
}

.tip {
  &__content {
    min-width: 250px;
    position: absolute;
    top: 30px;
    z-index: 5;
    left: 0px;
    background: white;
    box-shadow: 2px 0px 10px 0px black;
    padding: 10px;
  }
  &__title {
    font-size: 16px;
    color: black;
  }
  &__text {
    color: gray;
  }
  &__img {
    display: flex;
    img {
      width: 320px;
      height: 142px;
      object-fit: contain;
    }
  }
}

.checkbox-list {
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    margin-bottom: 5px;
  }
  &__label {
    input {
      margin-right: 5px;
    }
  }
}

.car-condition-w-img {
  max-width: 500px;
  &__control {
    display: flex;
    justify-content: space-between;
  }
  &__control-item {
    width: 110px;
    height: 110px;
    font-size: 16px;
    background: transparent;
    border: 1px solid transparent;
    transition: all .2s;
    &--active {
      border-radius: 15px;
      border: 1px solid black;
      font-weight: 700;
    }
    img {
      border-radius: 15px;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}


.car-condition-item {
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    position: relative;
    img {
      max-width: 300px;
    }
  }
  &__span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00AAFF;
    color: white;
    cursor: pointer;
    transition: all .2s;
  }
  &__span--active {
    transition: all .2s;
    transform: scale(1.2,1.2);
    background: rgb(55, 10, 10);

  }
  &__span-f1 {
    top: -5px;
    left: 140px;
  }
  &__span-f2 {
    top: 20px;
    left: 140px;
  }
  &__span-f3 {
    top: 45px;
    left: 140px;
  }
  &__span-f4 {
    top: 80px;
    left: 140px;
  }
  &__span-f5 {
    top: 60px;
    left: 80px;
  }
  &__span-f6 {
    top: 60px;
    right: 80px;
  }
  &__span-f7 {
    top: 30px;
    left: 60px;
  }
  &__span-f8 {
    top: 30px;
    right: 60px;
  }
  &__span-l1 {
    top: 50px;
    left: 60px;
  }
  &__span-l2 {
    top: 70px;
    left: 180px;
  }
  &__span-l3 {
    top: 70px;
    left: 120px;
  }
  &__span-l4 {
    top: 50px;
    right: 25px;
  }
  &__span-b1 {
    top: 20px;
    left: 140px;
  }
  &__span-b2 {
    top: 50px;
    left: 140px;
  }
  &__span-b3 {
    top: 50px;
    left: 80px;
  }
  &__span-b4 {
    top: 50px;
    right: 80px;
  }
  &__span-b5 {
    top: 85px;
    left: 140px;
  }
  &__span-r1 {
    top: 50px;
    left: 25px;
  }
  &__span-r2 {
    top: 70px;
    right: 120px;
  }
  &__span-r3 {
    top: 70px;
    right: 180px;
  }
  &__span-r4 {
    top: 50px;
    right: 60px;
  }
}