.category-choose {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  flex-grow: 1;
  align-items: center;
  &__title {
    color: gray;
    margin-bottom: 15px;
  }
  &__main {
    min-height: 320px;
    max-height: 320px;
    width: 320px;
    padding: 10px;
    border: 2px solid gray;
    font-size: 18px;
    overflow: auto;
  }
  &__main-point {
    margin-bottom: 5px;
    cursor: pointer;
    &--active {
      color: #00AAFF
    }
    &:hover {
      color: #00AAFF
    }
  }
  &__continue-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 10px;
    background: #00AAFF;
    &--three {
      margin-top: 20px;
      width: 30%
    }
    i {
      margin-left: 10px;
      transition: all .2s;
    }
    &:hover i {
      transform: translate(10px, 0px) scale(1.2);
    }
  }
}

.category-choosen {
  width: 100%;
  &__category-title {
    display: flex;
    .new-category-ads-title {
      margin-right: 20px;
    }
  }
  &__title-second {
    font-size: 25px;
    font-weight: 700;
  }
  &__subtitle-second {
    font-size: 25px;
    color: #00AAFF;
    font-weight: 500;
    cursor: pointer;
  }
}