.car-mileage {
  position: relative;
  width: fit-content;
  &__input {
    border: 1px solid black;
    padding: 5px 20px 5px 5px;
  }
  &__span {
    position: absolute;
    top: 7px;
    right: 5px;
  }
}